<nav class="navbar fixed-top navbar-expand-lg" style="direction: rtl">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarComponents" aria-controls="navbarComponents" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarComponents">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">خانه</a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/about">درباره</a>
      </li> -->
    </ul>
    <div class="social-logos">
        <a class="navbar-brand" href="https://github.com/Ardeshir1988">
          <img class="social-logo" src="../assets/img/github-logo.png" width="20" height="20">
          </a>
          <a class="navbar-brand" href="https://www.linkedin.com/in/ardeshir1988/">
            <img class="social-logo" src="../assets/img/linkedin-logo.png" width="20" height="20">
          </a>
            <a class="navbar-brand" href="https://twitter.com/ardeshirahouri">
              <img class="social-logo" src="../assets/img/twitter.png" width="20" height="20">
          </a>
    </div>
    <form class="form-inline">
      <input #keyword class="form-control mr-sm-2" type="search" required minlength="3" placeholder="" aria-label="Search">
      <input type="image" src="../assets/img/search.svg" alt="Submit">
    </form>
  </div>
</div>
</nav>



<div class="container content" style="background-color: rgb(242, 242, 242);" >
    <router-outlet></router-outlet>
</div>